{% extends 'base.admin.html.twig' %}

{% block title %}Listes des postes{% endblock %}
{% block body %}
    <h1>Listes des posts</h1>

    <div class="list-group">
        {% for post in posts %}
        <div style="position:relative;">
            <a href="{{ path('post_edit', {'id': post.id}) }}" class="list-group-item list-group-item-action pad" >
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>Date de publication: {{ post.publishedAt ? post.publishedAt|date('d/m/Y') : '' }}</small>
                </div>
                <p class="mb-1">{{ post.content }}</p>
                <small>{{ post.description }}</small>
            </a>
            <a class="btn btn-primary supr_post_btn" href="{{ path('post_delete', {'id': post.id}) }}" role="button">supprimer</a>
        </div>
        {#<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
        {% else %}
        <h2>Aucun post n'a été trouver man</h2>
        {% endfor %}
    </div>


    <a class="nav-link" href="{{path('admin_post_new')}}" aria-current="page" >Nouveau post</a>
{% endblock %}