{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
    <h1>Page d'acceuil</h1>

    <div id="post_wrapper">

            <div class="list-group">
                {% for post in postlist %}
                <a href="{{ path('post_show', {'slug': post.slug}) }}" class="list-group-item list-group-item-action pad">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small>Date de publication: {{ post.publishedAt ? post.publishedAt|date('d/m/Y') : '' }}</small>
                    </div>
                    <p class="mb-1">{{ post.content }}</p>
                    <small>{{ post.description }}</small>
                </a>
                {#<td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                {% else %}
                <h2>Aucun post n'a été trouver man</h2>
                {% endfor %}
            </div>
            {{ knp_pagination_render(postlist) }}
    </div>

{% endblock %}
