{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Catégories</th>
                <td>
                {% for category in post.categories %}
                    {{ category.name }} /
                {% else %}
                    Aucune catégories
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de la dernière édition</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h1>Liste des commentaire</h1>

        <div class="comment_wrapper">
            {%for comment in post.comments %}
                {%if comment.valid == true %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.username }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <h2>Aucun post n'a été trouver man</h2>
            {% endfor %}
        </div>
    </div>
    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('home') }}">back to homepage</a>

{% endblock %}
